

.navbar-nav .nav-link {
    color: white !important; /* Garante que a cor branca seja aplicada */
    cursor: pointer;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Cor de hover opcional */
  }
  
  .logout-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999; /* Para garantir que apareça sobre outros elementos */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Cor de fundo */
    border-top: 8px solid #3498db; /* Cor da animação */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  