

.navbar-nav .nav-link {
    color: white !important; /* Garante que a cor branca seja aplicada */
    cursor: pointer;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Cor de hover opcional */
  }
  