/* src/components/TicketPrint.css */

.ticket-print-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.ticket-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
.ticket-details {
    margin: 10px 0;
  }
  
.ticket-item {
    margin: 8px 0;
    font-size: 16px;
  }
  
.ticket-item strong {
    color: #555;
  }
  
.btn-print {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.btn-print:hover {
    background-color: #0056b3;
  }

.logo-impressao{
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  margin: 0 20px;
  text-align: center;
}

 
  
.assinatura {
  display: flex;
  justify-content: space-around; /* Alinha as assinaturas dentro do container */
  flex-wrap: wrap; /* Permite que os itens "quebrem" para a próxima linha, se necessário */
  margin-top: 20px;
}

.assinatura-item {
  flex-basis: 45%; /* Cada item de assinatura ocupará até 45% do container */
  margin: 10px; /* Espaçamento entre os itens */
  text-align: center;
}

.assinatura-item span {
  display: block;
  margin-top: 10px; /* Espaçamento entre o rótulo e a linha de assinatura */
  overflow-x: hidden; /* Evita que o conteúdo transborde */
}
